table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  min-width: 80px;
  border: 1px solid black;
  text-align: center;
}

tr {
  background-color: #ddd;
}

tr:nth-child(1) {
  background-color: #3d1200;
  color: #fff;
}

label {
  margin: 5px;
}
